.bread {
    overflow-x: auto;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: .8rem;

        &-item {
            color: $gray-main;

            &::after {
                content: '/';
                margin-left: .8rem;
            }

            &:hover {
                color: $green;
            }

            &_current {
                color: $black;

                &::after {
                    display: none;
                }
            }

        }
    }

    &-overlay {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 18rem;
        transform: translateX(-50%);
    }

    &_white {
        & .bread__list-item {
            color: $gray;
        }

        & .bread__list-item_current {
            color: $white;
        }
    }

}