.header {
    background-color: rgba(27, 27, 27, 0.4);
    backdrop-filter: blur(1rem);
    position: fixed;
    z-index: 100;
    width: 100%;

    &-wrp {
        position: relative;
    }

    &._opened .header__c-logo {
        @include small-tablet {
            border-color: transparent;

            & svg {
                fill: $green;

                & g>path:nth-child(2) {
                    fill: $green;
                    stroke: $green;
                }
            }
        }

    }



    &__c {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr;
        justify-content: space-between;
        padding: 3rem 0;

        @include small-tablet {
            display: flex;
            padding: 2rem 3rem;
            justify-content: unset;
            align-items: center;
        }



        &-logo {
            width: 19.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: .2rem solid $gray-main;
            transition: border-color .5s;
            position: relative;
            z-index: 102;

            @include small-tablet {
                width: 30rem;
                height: 11.2rem;
               
            }

            & svg {
                width: 13.3rem;
                height: 5.6rem;
                transition: fill .5s;
                @include small-tablet{
                    height: 8.4rem;
                    width: 20rem;
                }

                & g>path:nth-child(2) {
                    transition: fill .5s, stroke .5s;

                }
            }

            &:hover {
                border-color: $gray;

                & svg {
                    fill: $green;

                    & g>path:nth-child(2) {
                        fill: $gray-main;
                        stroke: $gray-main;
                    }
                }
            }
        }

        &-nav {
            display: flex;
            height: 100%;

        }

        &-desk-right {
            display: flex;
            gap: 2.4rem;

            & .btn-tr svg path {
                transition: stroke .5s;
            }

            & .btn-tr:hover svg path {
                stroke: $black;
            }
        }

        & .btn-tr {
            padding:1rem  3.3rem;
        }

        &-lang-mob {
            margin-left: auto;

            & .btn-tr {
                border: none;
                border-right: .2rem solid $gray;
            }
        }

        &-btn {
            display: none;

            @include small-tablet {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 8rem;
                height: 8rem;

                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 102;
                transition: all .5s;
                flex-shrink: 0;


            }

            & span {
                display: block;
                width: 4rem;
                height: 1px;
                background-color: $white;
                transition: all .5s;
            }

            &._opened {
                gap: 1.5rem;

                & span {
                    opacity: 0;
                    width: 4.7rem;
                    margin-left: 1.5rem;
                    background-color: $black;

                    &:first-of-type {
                        opacity: 1;
                        transform: rotate(45deg);
                        transform-origin: left top;
                    }

                    &:last-of-type {
                        opacity: 1;
                        transform: rotate(-45deg);
                        transform-origin: left bottom;


                    }
                }
            }
        }

        &-modal {
            display: none;



            @include small-tablet {
                position: absolute;
                z-index: 101;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                background-color: $bg;
                box-sizing: border-box;
                padding: 16rem 0;

                &._opened .header__c-modal-self {
                    transform: translateY(0);
                }
            }


            &-self {
                display: flex;
                flex-direction: column;
                transform: translateY(-100%);
                transition: transform .5s;

                &-item {
                    padding: 6rem 3rem;
                    border-bottom: .2rem solid $gray;

                    &:last-of-type {
                        border: none;
                        text-align: center;
                        margin: 12rem auto 0;
                        padding: 0;
                        width: fit-content;
                    }
                }

                &-btns {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;

                    &-e {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: .2rem solid $gray;
                        padding: 4rem 0;

                    }

                }
            }


        }
    }

}