.heading{
    padding-top: 0 !important;
 
    &__c{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

       
        &-top{
          
           max-width: 90rem;
           text-transform: uppercase;
        }
        &-bottom{
          margin-top: 28rem;
            margin-left: auto;
            width: fit-content;
            @include small-tablet{
                margin-top: 63rem;
                margin-left: 0;
            }
            & p{
                white-space: pre-line;
                font-weight: 600;
                @include small-tablet{
                    font-size: 3rem;
                   
                }
            }
        }
    }
}