.services {
    &__c {
        &-list {
            display: grid;
            grid-template-columns: min-content min-content;
            justify-content: space-between;
            gap: 3rem;

            & p {
                padding: 0 4rem ;
                @include small-tablet{
                    padding: 0;
                    justify-self: flex-end;
                }
            }
            & hr{
                grid-column: 1 / span 2;
                width: 100%;
                height: .1rem;
                background-color: $gray;
                border: none;
            }
        }
    }
}