.about {}



.about-princeples {
    &__c {
        display: flex;
        flex-direction: column;
        gap: 7rem;

        @include small-tablet {
            gap: 5rem;
        }

        &-body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 28rem;

            @include small-tablet {
                grid-template-columns: 100%;
                gap: 8rem;
            }

            &-items {
                gap: 5rem;
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: 1fr 1fr;

                & li {
                    display: flex;
                    flex-direction: column;
                    @include small-tablet{
                        text-align: center;
                    }
                    &:last-of-type{
                        @include desktop {
                            & .txt18 {
                               padding-left: 2rem;
                            }
                        }
                    }

                    & .txt18 {
                        text-transform: lowercase;
                        display: flex;

                       

                        @include small-tablet {
                            font-size: 3rem;
                            & span {
                                width: 1rem;
                            }
                        }
                    }
                    & .tl2{
                        @include small-tablet{
                            font-size: 5.6rem;
                        }
                        &._plus{
                            &::after{
                                content: '+';
                            }
                        }
                    }
                }
            }
        }
    }
}

.about-adv {
    & .section-heading{
       gap: 0 40rem;
       margin-bottom: 7.8rem;
       @include mobile{
        gap: 4rem;
        margin-bottom: 5rem;
       }
    }
    &__c {


        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 35.6rem;
            gap: 3.2rem;

            @include small-tablet {
                grid-template-columns: 100%;
                grid-template-rows: repeat(4, 71.2rem);
            }

            &-e {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;

                &-img {
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    display: flex;

                    & img {
                        object-fit: cover;
                        object-position: center;
                    }

                }

                &-body {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(2px);
                    padding: 2.1rem;

                    & p {
                        margin-top: auto;
                    }

                }
            }
        }
    }
}

.about-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .tl2{
        margin-bottom: 7rem;
    }

}

.about-ready {
    &__c {
        display: grid;
        grid-template-columns: 1fr .3fr;
        align-items: flex-end;
        gap: 4rem;
        @include desktop{
            margin-top: 40rem;
        }

        @include small-tablet {
            grid-template-columns: 100%;
            & .tl1{
                font-size: 4rem;
            }
            & .txt20{
                font-size: 3.2rem;
            }
        }
    }
}

.about-command__c {
    gap: 9rem 36rem;
    & .section-heading-ttl{
        @include desktop{
            width: 70rem;
        }
    }
}