.news {}

.news-ttl {
    margin-top: 25vh;
}

.news-cards {

    &__c {
       
      &-list{
        padding-bottom: 4rem;
        border-bottom: .1rem solid $gray;
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;
        gap: 6rem;
      }
    }
}