.btn-arrow {
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    padding-right: 3rem;
    @include small-tablet{
        padding-right: 6rem;
    }

    &:hover img,
    &:hover svg {
        transform: rotate(-90deg) translateY(1rem);
    }


    & img,
    & svg {
        position: absolute;
        top: -.5rem;
        right: 0;
        @include same-size(2.6rem, 2.6rem);
       
        transform: rotate(-90deg) translateY(0);
        transition: transform .5s;

    }
}

.btn-green,
.btn-white,
.btn-tr {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 2.4rem;
    box-sizing: border-box;
    border: .2rem solid transparent;
    text-transform: uppercase;
    transition: color .5s, background-color .5s, border-color .5s;

    & img,
    & svg {
        @include same-size(3.1rem, 3.1rem);
    }

}

/*  */
.btn-green {
    border-color: $gray;
}

.btn-green:hover {
    background-color: $green;
}

/*  */
.btn-white {
    color: $white;
    border-color: $gray-main;
}

.btn-white:hover {
    background-color: $white;
    color: $black;
}

/*  */
.btn-tr {
    border-color: $gray-main;
    color: $white;

    &:hover {
        border-color: $gray;
        color: $black;
    }
}