.swiper-btn{
    border-radius: 50%;
    background-color: $black;
    background-image: url(../../assets/images/icons/arrow-swiper-right.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 5rem;
    height: 5rem;
    transition: background-color .5s, background-position .2s;
    @include small-tablet{
        width: 9.6rem;
        height: 9.6rem;
    }
   @media (hover:hover){
    &:hover{
        background-color: $green;
    }
   }
    
    &-prev{
        background-image: url(../../assets/images/icons/arrow-swiper-left.svg);
        &:active{
            background-position: 20% 50% ;
            background-color: $green;
        }
    }
    &-next{
        &:active{
            background-position: 80% 50% ;
            background-color: $green;
        }
    }
    &-container{
        display: flex;
        gap: 1rem;
        @include small-tablet{
            gap: 2rem;
        }
        & .swiper-btn-next{
            margin-top: 2rem;
        }
    }
    &:disabled{
        background-color: $gray !important;
        cursor: default;
    }
}
.swiper{
    width: 100%;
}
