<div class="bread">
    <ul class="bread__list txt18">
        <li class="bread__list-item "><a href="#">Главная</a></li>
        <li class="bread__list-item"><a href="#">Главная</a></li>
        <li class="bread__list-item"><a href="#">Главная</a></li>
        <li class="bread__list-item"><a href="#">Главная</a></li>
        <li class="bread__list-item"><a href="#">Главная</a></li>
        <li class="bread__list-item"><a href="#">Главная</a></li>
        <li class="bread__list-item bread__list-item_current"><a href="#">Текущая</a></li>
    </ul>
</div>
