<div class="header-mobile modal-header">
    <div class="header-mobile-wrp">
        <div class="header-mobile__self">

            <div class="header-mobile__self-top">
                <img class="header-mobile__self-top-logo" src="./assets/images/icons/logo-green.svg" alt="tcm">
                <button class="header-mobile__self-top-closer modal-closer">
                </button>
            </div>
            <a href="#" class="txt-up txt16 header-mobile__self-item">Услуги</a>
            <a href="#" class="txt-up txt16 header-mobile__self-item">Наши проекты</a>
            <a href="#" class="txt-up txt16 header-mobile__self-item">О компании</a>
            <a href="#" class="txt-up txt16 header-mobile__self-item">Новости</a>
            <a href="#" class="txt-up txt16 header-mobile__self-item">Контакты</a>
            <div class="header-mobile__self-btns ">
                <button class="txt-up txt16 header-mobile__self-btns-e">ru</button>
                <button class="txt-up txt16 header-mobile__self-btns-e flex-row">
                    Заявка
                    <img src="./assets/images/icons/mail-black.svg" alt="mail">
                </button>
            </div>
            <a href="#" class="txt16 header-mobile__self-item">+7 499 136 26 49</a>
        </div>
    </div>
    <button class="header-mobile-opener modal-opener" data-modal="header">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.44727 8.97534L5.36163 5.06098L1.44727 1.14661" stroke="white" stroke-miterlimit="10"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </button>
</div>