<section class="heading section-bg">
    <div class="section-bg-img">
        
        <div class="section-bg-img-video">
            <img src="./assets/images/heading.webp" alt="">
            <video class="section-bg-video" autoplay="true" preload="auto" controls="false" disablepictureinpicture
                pip="false" muted loop>
                <source src="./assets/video/video.mp4" type="video/mp4" />
            </video>
           
        </div>


    </div>
    <div class="container section-bg__c">
        <div class=" heading__c">
            <div class="heading__c-top">
                <h1 class="tl1 col-wh">
                    СОЗДАНИЕ
                    ИНТЕРЬЕРОВ
                    под ключ
                </h1>
            </div>
            <div class="heading__c-bottom">
                <p class="txt20">Индивидуальный подход <br />
                    и профессионализм позволяют компании ТСМ
                    достигать безупречных результатов
                    в проектах любой сложности
                </p>
            </div>
        </div>

    </div>

</section>