<section class="partners">
    <div class="container partners__c">
        <div class="section-heading">
            <p class="section-heading-name">Наш подход</p>
            <h2 class="tl2 section-heading-ttl">ответственное
                отношение и высокий уровень
                качества предоставляемых услуг
            </h2>
            <p class="section-heading-body">Благодаря этому мы успешно реализовали огромное
                количество интересных проектов для крупных российских
                и международных компаний
            </p>
        </div>
        <div class="partners__c-items">
            <ul class="partners__c-items-list">
                <li>
                    <img src="../assets/images/partners/alfabank.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/amway.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/ashan.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/huawei.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/lamoda.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/otp-bank.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/psbank.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/regus.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/regus.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/stada.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/tbank.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/trend.svg" alt="partner">
                </li>
                <li>
                    <img src="../assets/images/partners/vtb.svg" alt="partner">
                </li>
            </ul>
        </div>

    </div>
</section>