
@font-face {
  font-family: 'Euclid Circular A';
  src: url('./assets/fonts/Euclid Circular A.eot');
  src: local('Euclid Circular A'), local('Euclid Circular A'),
      url('./assets/fonts/Euclid Circular A.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Euclid Circular A.woff2') format('woff2'),
      url('./assets/fonts/Euclid Circular A.woff') format('woff'),
      url('./assets/fonts/Euclid Circular A.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'EuropeExt';
  src: url('./assets/fonts/EuropeExt.eot');
  src: local('EuropeExt'), local('EuropeExt'),
      url('./assets/fonts/EuropeExt.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/EuropeExt.woff') format('woff'),
      url('./assets/fonts/EuropeExt.woff2') format('woff2'),
      url('./assets/fonts/EuropeExt.ttf') format('ttf');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EuropeExt';
  src: url('./assets/fonts/EuropeExt Bold.eot');
  src: local('EuropeExt'), local('EuropeExt'),
      url('./assets/fonts/EuropeExt Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/EuropeExt Bold.woff') format('woff'),
      url('./assets/fonts/EuropeExt Bold.woff2') format('woff2'),
      url('./assets/fonts/EuropeExt Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}



